 body {
            font-family: Algerian, sans-serif;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            flex-direction: column;
            background: #000;
            overflow: hidden;
        }

        #video-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
        }

        h1 {
            margin-bottom: 20px;
            margin-top: 250px;
            font-family: 'Courier New', Courier, monospace;
            color: brown;
            font-size: 52px;
            margin-top: -400px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }

        .countdown {
            font-size: 76px;
            font-weight: bold;
            color: rgb(238, 222, 6);
            opacity: 1;
            margin-top: 100px;
            overflow: hidden;
            white-space: nowrap;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }

        .countdown-small {
            font-size: 32px;
            position: fixed;
            bottom: 10px;
            right: 10px;
            color: rgb(238, 222, 6);
        }

        #hamburgerContainer {
            display: none;
            position: absolute;
            top: 50px;
            left: 10px;
            background-color: rgb(178, 184, 93);
            padding: 10px;
            color: brown;
            border: 1px solid rgb(202, 24, 24);
            font-size: 28px;
        }

        .checkboxLabel {
            display: block;
            margin-bottom: 5px;
            font-size: 25px;
            color: rgb(238, 222, 6);
        }

        #toggleHamburger {
            position: fixed;
            top: 10px;
            left: 10px;
            cursor: pointer;
            font-size: 24px;
            color: rgb(212, 17, 17);
            border: none;
            background: none;
        }

        #toggleHamburger:focus {
            outline: none;
        }